.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* Text meant only for screen readers */
.assistive-text {
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */

  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}
h1,
h2,
h3 {
  color: #222;
}
h1 {
  font-size: 28px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 150%;
  color: #444;
}
a:hover {
  text-decoration: none;
}
body * {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
label {
  font-size: 16px;
  line-height: 150%;
}
.required {
  color: red;
}
.clear {
  clear: both;
}
p {
  margin: 0 0 15px 0;
}
/* Alignment */
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}
.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}
.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.clearfloat {
  clear: both;
}
.wp-caption {
  border: 1px solid #dddddd;
  max-width: 100%;
}
.wp-caption.aligncenter,
.wp-caption.alignleft,
.wp-caption.alignright {
  margin-bottom: 1.5em;
}
.wp-caption img {
  display: block;
  margin: 1.2% auto 0;
  max-width: 98%;
}
.wp-caption-text {
  text-align: center;
}
.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}
.site-content .gallery {
  margin-bottom: 1.5em;
}
.site-content .gallery a img {
  border: none;
  height: auto;
  max-width: 90%;
}
.site-content .gallery dd {
  margin: 0;
}
.loading {
  background: #FFFFFF;
  border: 1px solid #D5D5D5;
  border-radius: 5px;
  padding: 5px;
  position: fixed;
  text-align: center;
  top: 50px;
  left: 200px;
  display: none;
  z-index: 99;
}
.loading .image {
  background: url('../images/loading.gif') no-repeat;
  height: 16px;
  width: 16px;
  display: inline-block;
  margin-right: 10px;
}
/*--------------------------------------------------
:: Header
-------------------------------------------------- */
.site-header {
  padding: 0;
}
.site-header .span12 {
  position: relative;
}
.site-header .header {
  overflow: hidden;
}
.site-header h1.site-title {
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 10px;
  margin-top: 20px;
  padding-bottom: 10px;
}
.site-header h1.site-title a:hover {
  text-decoration: none;
}
.site-header .divider {
  border-left: 1px solid #787878;
  border-right: 1px solid #545454;
}
.site-header .site-navigation {
  position: relative;
  background: #666666;
  height: 36px;
}
.site-header .menu-container {
  margin-bottom: 20px;
  position: relative;
}
/*  --------------------------------------------------
:: Navigation
-------------------------------------------------- */
#navigation {
  margin-top: 10px;
  margin-bottom: 10px;
}
#navigation ul,
#navigation ul li,
#navigation ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#navigation ul {
  position: relative;
  z-index: 97;
  float: left;
}
#navigation ul li {
  float: left;
  line-height: 1.8em;
  vertical-align: middle;
  zoom: 1;
}
#navigation ul li.hover,
#navigation ul li:hover {
  position: relative;
  z-index: 99;
  cursor: default;
}
#navigation ul li ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 598;
  width: 100%;
}
#navigation ul ul li {
  float: none;
}
#navigation ul ul ul {
  top: 0px;
  left: 99%;
}
#navigation ul li:hover > ul {
  visibility: visible;
}
/* Default CSS Drop-Down Menu Theme*/
#navigation ul {
  font-weight: normal;
}
#navigation ul li a {
  padding: 7px 15px;
  display: block;
}
#navigation ul li a:link,
#navigation ul li a:visited {
  text-decoration: none;
}
/* -- level mark -- */
#navigation ul li ul {
  width: 200px;
  margin-left: 0px;
}
#navigation ul li ul li ul li ul {
  margin-left: 2px;
}
#navigation ul li ul li {
  margin-top: 0px;
}
#navigation h3 {
  display: none;
}
.site-header #navigation {
  margin: 0;
  display: block;
  font-size: 13px;
}
.site-header #navigation li {
  display: block;
  line-height: 36px;
}
.site-header #navigation li:first-child {
  border-left: none;
}
.site-header #navigation li:last-child {
  border-right: none;
}
.site-header #navigation li a {
  display: block;
  color: #FFF;
  padding: 0 13px;
  white-space: nowrap;
  text-decoration: none;
}
.site-header #navigation li ul.sub-menu {
  opacity: 0;
}
.site-header #navigation li ul.sub-menu li {
  height: 0;
}
.site-header #navigation li:hover {
  background: #8c8c8c;
}
.site-header #navigation li:hover a {
  text-shadow: none;
}
.site-header #navigation li:hover ul.sub-menu {
  background: #ffffff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity .25s ease .1s;
  -moz-transition: opacity .25s ease .1s;
  -o-transition: opacity .25s ease .1s;
  -ms-transition: opacity .25s ease .1s;
  transition: opacity .25s ease .1s;
  opacity: 1;
}
.site-header #navigation li:hover ul.sub-menu li {
  border-bottom: 1px solid #dddddd;
  -webkit-transition: opacity .25s ease .1s;
  -moz-transition: opacity .25s ease .1s;
  -o-transition: opacity .25s ease .1s;
  -ms-transition: opacity .25s ease .1s;
  transition: opacity .25s ease .1s;
  height: auto;
}
.site-header #navigation li:hover ul.sub-menu li a {
  background: #fff;
  color: #666666;
}
.site-header #navigation li:hover ul.sub-menu li a:hover {
  text-shadow: 0 1px 0 #fff;
}
.site-header #navigation li:hover ul.sub-menu li:last-child {
  border-bottom: none;
}
.site-header #navigation li:hover ul.sub-menu li.current_page_item a {
  text-shadow: 0 1px 0 #fff;
}
.site-header #navigation li:focus {
  background: #fff;
}
.site-header #navigation .caret {
  margin-top: 10px;
  margin-left: 5px;
  border-top-color: #fff;
}
.site-header #navigation > ul > li > a:hover {
  text-shadow: none;
}
.site-header #navigation > ul > li {
  border-left: 1px solid #787878;
  border-right: 1px solid #545454;
}
.site-header #navigation > ul > li.current-menu-item > a {
  background: #333333;
  text-shadow: none;
  font-weight: bold;
}
.site-header #navigation > ul > li.current-menu-item > a:hover {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.site-header #navigation > ul {
  height: 36px;
}
/*--------------------------------------------------
:: Responsive Menubar
-------------------------------------------------- */
@media (max-width: 768px) {
  .menu-toggle {
    color: #FFFFFF;
    font-size: 22px;
    line-height: 36px;
    margin: 0;
    padding: 0 0 0 5px;
  }
  .menu-toggle i.icon-reorder {
    padding: 0 5px 0 0;
    margin-top: 5px;
  }
  .site-header #navigation {
    background: #666666;
    width: 100%;
    overflow: hidden;
  }
  #navigation .menu {
    display: none;
  }
  .site-header ul,
  .site-header li {
    float: none
          overflow: hidden;
  }
  .site-header #navigation > ul {
    padding-left: 0;
    float: none;
    overflow: hidden;
  }
  .site-header #navigation li a {
    background: #666666;
  }
  .site-header #navigation > ul > li {
    border-left: none;
    border-right: none;
  }
  #navigation ul li {
    float: none;
    display: block;
  }
  #navigation ul li ul {
    position: inherit;
    visibility: visible;
  }
  .site-header #navigation li ul.sub-menu li {
    height: auto;
    opacity: 1;
  }
  .site-header #navigation li ul.sub-menu {
    opacity: 1;
    margin-left: 15px;
    float: none;
  }
}
/*--------------------------------------------------
:: Content
-------------------------------------------------- */
.site-content {
  overflow: hidden;
}
.site-content article {
  margin-bottom: 25px;
  padding-bottom: 15px;
  position: relative;
}
.site-content article li {
  line-height: 25px;
}
.site-content .entry-header .entry-title {
  border-bottom: 1px solid #c4c4c4;
  padding-bottom: 7px;
  font-weight: bold;
  line-height: 130%;
  font-size: 32px;
}
.site-content .entry-header .entry-title a {
  color: #222;
}
.site-content .entry-header .entry-title a:hover {
  text-decoration: none;
  color: #5aabd6;
}
.site-content .entry-content {
  margin-bottom: 15px;
}
.site-content .entry-content h3 {
  border-bottom: 1px solid #c4c4c4;
}
.site-content .entry-meta {
  margin-bottom: 10px;
  font-size: 15px;
  padding-bottom: 10px;
}
.site-content .entry-meta .sep {
  color: #c4c4c4;
}
/*--------------------------------------------------
:: Navigation
-------------------------------------------------- */
#content nav {
  clear: both;
  overflow: hidden;
  padding: 0 0 1.625em;
}
#nav-above {
  padding: 0 0 1.625em;
}
#nav-above {
  display: none;
}
.paged #nav-above {
  display: block;
}
.nav-previous {
  float: left;
  width: 50%;
}
.nav-next {
  float: right;
  text-align: right;
  width: 50%;
}
#content nav .meta-nav {
  font-weight: normal;
}
/*--------------------------------------------------
:: Comments
-------------------------------------------------- */
#comments .comments-title {
  border-bottom: 1px solid #dddddd;
  padding-bottom: 10px;
  margin: 0;
}
#comments #respond {
  padding: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
}
#comments #respond #cancel-comment-reply-link {
  color: #fff;
  padding: 5px 15px;
  margin-left: 20px;
  background: #666666;
}
#comments #respond label {
  display: inline-block;
}
#comments #respond .invalid {
  border: 1px solid red;
  background: #ffcccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 10px;
}
#comments #respond .required {
  color: #E44400;
}
#comments #respond input,
#comments #respond textarea {
  display: block;
  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.15);
}
#comments #respond input:focus,
#comments #respond textarea:focus {
  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.25);
  border-color: #ccc;
}
#comments #respond input[type=text] {
  width: 43%;
  padding: 5px 10px;
}
#comments #respond textarea#comment {
  width: 70%;
  padding: 10px;
}
#comments #respond .form-submit {
  margin: 15px 0;
}
#comments #respond .form-tags-toggle {
  cursor: pointer;
}
#comments #respond .form-tags-toggle .label {
  font-size: 10px;
  padding: 3px 4px;
}
#comments #respond code {
  display: block;
}
#comments ol.commentlist {
  margin: 10px 0;
  list-style: none;
}
#comments ol.commentlist #respond {
  background: #F0F0F0;
  border-top: 1px solid #fff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#comments ol.commentlist li article.comment {
  position: relative;
  border-bottom: 1px solid #dddddd;
  padding: 10px;
  margin: 0px;
  overflow: hidden;
  clear: left;
}
#comments ol.commentlist li article.comment .comment-avatar {
  background: #dddddd;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
  float: left;
  padding: 3px;
  height: 75px;
  width: 75px;
  margin: 0 10px 0 0;
}
#comments ol.commentlist li article.comment .comment-avatar img.avatar {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
  background: #fff;
}
#comments ol.commentlist li article.comment footer {
  font-size: 13px;
  padding-bottom: 5px;
}
#comments ol.commentlist li article.comment cite.fn {
  font-style: italic;
}
#comments ol.commentlist li article.comment .reply {
  position: absolute;
  top: 10px;
  right: 0;
}
#comments ol.commentlist li article.comment .reply a.comment-reply-link {
  color: #fff;
  padding: 3px 8px;
  background: #666666;
  font-size: 13px;
}
#comments ol.commentlist li .comment-content {
  line-height: 150%;
  padding: 10px 0;
}
#comments ol.commentlist li .comment-content ul {
  list-style: disc inside none;
  margin: 4px 0 5px 30px;
}
#comments ol.commentlist li .comment-content li {
  border: none;
  padding: 0;
}
#comments ol.commentlist li ul.children {
  list-style: none;
  overflow: hidden;
  margin: 0;
  clear: left;
}
#comments ol.commentlist li ul.children .depth-2,
#comments ol.commentlist li ul.children .depth-3,
#comments ol.commentlist li ul.children .depth-4,
#comments ol.commentlist li ul.children .depth-5 {
  padding-left: 40px;
  border-left: 1px solid #dddddd;
  background: url(../images/comment-nav.png) 0 45px no-repeat;
  clear: left;
}
#comments ol.commentlist > li:last-child article.comment {
  border-bottom: none;
}
#comments ol.commentlist li.bypostauthor > article {
  background: #e6e6e6;
}
/*--------------------------------------------------
:: Sidebars
-------------------------------------------------- */
.widget-area {
  overflow: hidden;
}
.widget {
  margin-bottom: 20px;
}
.widget select {
  max-width: 98%;
}
.widget input[type=text],
.widget input[type=password] {
  max-width: 93%;
}
.widget caption {
  padding: 0 0 5px 0;
}
.widget table {
  width: 100%;
  margin-bottom: 20px;
}
.widget table td,
.widget table th {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.widget table td#today {
  background: #ccc;
  color: #fff;
}
.widget .widget-title {
  margin-bottom: 5px;
  border-bottom: 1px solid #DDD;
  padding: 3px 0;
}
.widget ul {
  margin-left: 0;
  list-style: none;
}
.widget ul li {
  clear: left;
  padding: 5px 0;
  border-bottom: 1px solid #EEE;
}
.widget ul li:last-child {
  border-bottom: none;
}
.widget .avatar {
  float: left;
  margin-right: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.widget .avatar img {
  border: 1px solid #ccc;
  background: #fff;
}
/*--------------------------------------------------
:: Footer
-------------------------------------------------- */
.site-footer {
  border-top: 1px solid #dddddd;
  padding: 20px 0 10px 0;
  color: #666;
  line-height: 200%;
  font-size: 14px;
}
